# Ignore files and directories
*.log
*.tmp
*.bak
*.old
*.orig
*.swp
*.pyc
__pycache__/
*.DS_Store
.vscode/
.env
venv/
node_modules/
bower_components/
.sass-cache/
coverage/
*.egg-info/
*.iml
out/
build/
dist/
.env.local
*.local
*.vs
*.pid
*.gmt
.gradle
.idea
PROJECTNAME
.vscode/debug
*.rej
*.orig
*.mod
*.ex
Thumbs.db
desktop.ini
.hg
.svn
*.crproj
*.ncb
*.suo
*.opensdf
*.nproj
*.psess
*.vsp
*.pdb
*.o
*.obj
*.manifest
*.ilk
*.pch
*.pdb
*.idb
*.spl
*.sdf
*.jit
*-i.c
*-i.h
*.ipch
*-ps.dll
*.vshost.exe
*.vshost.exe.manifest
*.vshost.exe.config
*.csr
*.publishproj
*.bloom
*.blue
.config
*.csproj.user
Generated_Code
*.COMMIT_EDITMSG
*.merge_file*
.tags
*._OM Zustandsdatei
.DS_Store
*.tlog
*.nruser
*.ngi
*.ncrash
*.svclog
*.sln.docstates
*.pub.xml
*.publishproj
*.pfx
*.csr
*.csrkey
*.msi
*.msix
*.msm
*.vsmac
*.tlh
*.tlb
*.tli
*.tlb-intermediate
*.manifest
*.zip
*.rar
*.7z
*.gz
*.tgz
*.bz2
*.tbz
*.tbz2
*.lz
*.lzma
*.lzo
*.z
*.Z
*.dz
*.spm
*.iso
*.dmg
*.toast
*.toast.mkfs
*.vcd
.dvs
.vs/
vsvsmdb.db
*.vsk
*.vspx
*.vsd
*.vsdx
*.vspscc
*.vssscc
*.scc
*.MyTargets
.hgtargs
*.targets
*.WebTestList
TestResults
*.trx